<div class="blog-banner" style="text-align: center; margin: 0 0 2.5rem;">
  <h1 style="font-size: 3rem; line-height: 1.1; margin: 0 0 0.25rem;">Phineas Gauge Theory</h1>
  <p style="font-style: italic; color: #9a9a9a; margin: 0;">The blog of Paul Lessard</p>
</div>

<div class="posts">
  $for(posts)$
  <div class="post">
    <h1 class="post-title">
      <a href="$url$">
        $title$
      </a>
    </h1>
    <span class="post-date">
      $date$$if(author)$, Posted by $author$$endif$
    </span>

    $body$

    <a href="$url$">Read more...</a>
  </div>
  $endfor$
</div>

<div class="pagination">
  $if(previousPageNum)$
      <a class="pagination-item newer" href="$previousPageUrl$">Newer</a>
  $else$
    <span class="pagination-item newer">Newer</span>
  $endif$
  $if(nextPageNum)$
    <a class="pagination-item older" href="$nextPageUrl$">Older</a>
  $else$
    <span class="pagination-item older">Older</span>
  $endif$
</div>
