<div class="publication">
  <h1 class="publication-title">
      <a href="$url$">
        $title$
      </a>
    </h1>
    <div class="publication-metadata">
        <span class="publication-date">
          Date: $date$<br/>
          Last modified: $modified$
        </span>
        $if(venue)$
          <br/>Venue: $venue$
        $endif$
        $if(institution)$
          <br/>Institution: $institution$
        $endif$
        $if(type)$
          <br/>Type: $type$
        $endif$
        $if(status)$
          <br/>Status: $status$
        $endif$
    </div>
    $body$
</div>
