<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>$site-description$</p>
  </div>

  <nav class="sidebar-nav">
        <a class="sidebar-nav-item$if(home)$ active$endif$" href="/">Home</a>
        <a class="sidebar-nav-item$if(blog)$ active$endif$" href="/blog/page1.html">Phineas Gauge Theory</a>
        <a class="sidebar-nav-item$if(talks)$ active$endif$" href="/talks/page1.html">Talks</a>

    <!--- The code below dynamically generates a sidebar nav of the files in the folder /pages -->

    $for(list_pages)$
      $if(title)$
        <a class="sidebar-nav-item$if(eval(title))$ active$endif$" href="$node-url$">$title$</a>
      $endif$
    $endfor$

    <a class="sidebar-nav-item$if(archive)$ active$endif$" href="/archive.html">Archive</a>

    <a class="sidebar-nav-item" href="$github-repo$" target="_blank" rel="noopener noreferrer">GitHub project</a>

  </nav>

  <div class="sidebar-item">
    &copy; $copy-year$ <a href="mailto:$site-email$">$site-author$</a></br> 
    All rights reserved.
    <div>
      <a class="sidebar-icon" href="mailto:$site-email$" target="_blank" rel="noopener noreferrer">
        <img class="sidebar-icon" src="/images/email_icon.svg"/>
      </a>
      <a class="sidebar-icon" href="$github-url$" target="_blank" rel="noopener noreferrer">
        <img class="sidebar-icon" src="/images/github_icon.svg"/>
      </a>
      <a class="sidebar-icon" href="$twitter-url$" target="_blank" rel="noopener noreferrer">
        <img class="sidebar-icon" src="/images/twitter_icon.svg"/>
      </a>
    </div>
    <p>
        <img src="/images/the_dark_judges.webp" class=logo 
             style="display: block; margin-left:auto; margin-right: auto; width: 60%"/>
        Site created with
        <a href="https://jaspervdj.be/hakyll" target="_blank" rel="noopener noreferrer">Hakyll</a>.
        <br>
        Modified theme
        <a href="https://github.com/hahey/lanyon-hakyll" target="_blank" rel="noopener noreferrer">lanyon-hakyll</a>
        based on
        <a href="https://lanyon.getpoole.com/" target="_blank" rel="noopener noreferrer">Lanyon</a>.
        <br>
        Adapted from the
        <a href="https://dom-verity.github.io/" target="_blank" rel="noopener noreferrer">site of Dominic Verity</a>.
    </p>
</div>

</div>
